---
import BaseLayout from "./BaseLayout.astro"
import type { MarkdownLayoutProps } from "astro"

const { frontmatter } = Astro.props

type Props = MarkdownLayoutProps<MarkdownProps>

const date = new Date(frontmatter.date)

const formattedDate = date.toLocaleString("en-GB", {
  year: "numeric",
  month: "long",
  day: "numeric",
  timeZoneName: "short",
  minute: "numeric",
  hour: "numeric",
  timeZone: "Europe/Warsaw"
})
---
<BaseLayout title={frontmatter.title} description={frontmatter.description}>
  <div class="border-b-2 border-gray-500 flex flex-col gap-3 pb-4">
    <a href="/" class="text-xl font-medium underline mb-6 hover:text-gray-600 dark:hover:text-gray-400 transition duration-300">Go back</a>
    <h1 class="text-4xl font-bold">{frontmatter.title}</h1>
    <h3 class="text-xl font-medium">Written on: {formattedDate}</h3>
  </div>

  <div id="markdown">
    <slot />
  </div>
  <style is:global>
    #markdown p {
      @apply text-base font-normal my-4;
    }

    #markdown h1 {
      @apply text-2xl font-bold mt-6 mb-2;
    }

    #markdown h2 {
      @apply text-xl font-bold mt-5 mb-2;
    }

    #markdown h3 {
      @apply text-lg font-bold mt-4 mb-2;
    }
    
    #markdown h4 {
      @apply text-base mt-3 mb-2;
    }

    #markdown h5 {
      @apply text-sm mt-2 mb-2;
    }

    #markdown h6 {
      @apply text-xs mt-1 mb-2;
    }

    #markdown ul {
      @apply list-disc list-inside;
    }

    #markdown ol {
      @apply list-decimal list-inside;
    }

    #markdown h1, #markdown h2, #markdown h3, #markdown h4, #markdown h5, #markdown h6 {
      @apply border-b-2 dark:border-gray-700 border-gray-300;
    }

    #markdown li {
      @apply my-2;
    }

    #markdown a {
      @apply text-blue-500 underline hover:text-blue-600 dark:hover:text-blue-400 transition duration-300;
    }

    #markdown blockquote {
      @apply border-l-4 border-gray-300 pl-4 italic;
    }

    #markdown pre {
      @apply p-4 rounded-xl;
    }

    #markdown code {
      @apply p-1 rounded-xl bg-gray-200 dark:bg-gray-800;
    }

    #markdown pre code {
      @apply bg-inherit p-0;
    }

    #markdown table {
      @apply border-collapse border border-gray-300;
    }

    #markdown table thead tr th {
      @apply border border-gray-300 p-2;
    }

    #markdown table tbody tr td {
      @apply border border-gray-300 p-1;
    }

    #markdown img {
      @apply max-h-64 rounded-xl;
    }
  </style>
</BaseLayout>